/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0f2f5;
    
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
    font-size: 28px;
}


body > * {
    width: 100%;
    max-width: 350px;
}

/* Labels */
label {
    font-size: 16px;
    color: #ffffff;
}

/* Inputs */
input[type="text"],
input[type="password"],
input[type="e_mail"]
{
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: 0.2s;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="e_mail"]:focus
{
    border-color: #ffffff;
    box-shadow: 0 0 5px rgb(255, 255, 255);
}

/* Botão */
button {
    width: 100%;
    padding: 12px;
    background: #323232;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    margin-bottom: 20px;
}

button:hover {
    background: #494949;
   
}

p {
    text-align: center;
    color: #ffffff;
}

    .container {
        max-width: 630px;
        margin: 120px auto;
        padding: 30px;
        background-color: #000000;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0,1);
    }

    a{
        color: #fffafa;
    }



